@CHARSET "UTF-8";

fieldset {
	border: 1px solid #F0F0F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(150, 150, 150, 0.7);
	box-shadow: 2px 2px 1px 0px rgba(150, 150, 150, 0.7);
}

.fieldset-input-fixed-height>div {
	height: 40px;
}

fieldset legend {
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	color: #138687;
	border: 1px solid #F0F0F0;
}

fieldset .attribute-name {
	display: inline-block;
	min-width: 75px;
	margin: 5px 0;
	color: #596a72;
}

button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf', GradientType=0);
	background-color: #ededed;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c0c0c0;
	display: inline-block;
	cursor: pointer;
	color: #138687;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 30px;
	text-decoration: none;
	text-shadow: 2px 2px 3px #ffffff;
	outline: none;
}

button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed', GradientType=0);
	background-color: #dfdfdf;
}

button:active {
	position: relative;
	top: 1px;
}

button:disabled {
	color: #777777;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf', GradientType=0);
	background-color: #ededed;
}

input, textarea {
	font-size: 1rem;
	border: none;
	padding: 5px;
	clear: both;
	width: 150px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
}

input.calendar:hover, input.calendar:focus
	{
	background: url(../images/calendar.png) no-repeat scroll 7px 6px;
}

input.user:hover, input.user:focus {
	background: url(../images/user.png) no-repeat scroll 7px 6px;
}

input:hover, textarea:hover, input:focus, textarea:focus,
	#ticket-editor-textarea-comment {
	box-shadow: 0 0 0 1px #909090, inset 0 1px 3px rgba(0, 0, 0, 0.2), 0px
		2px 2px rgba(0, 0, 0, 0.15);
	outline: none;
	background: url(../images/edit.png) no-repeat scroll 7px center;
	padding-left: 30px;
}

textarea {
	resize: none;
}

/* Select menu style */
.ui-selectmenu-button {
	border: none;
	background: white;
	font-size: 1em;
	position: absolute;
	margin-top: 2px;
}

.ui-selectmenu-button {
	border: none;
	background: white;
	font-size: 1em;
	margin-left: 5px;
}

.ui-selectmenu-button:focus, .ui-selectmenu-button:hover {
	box-shadow: 0 0 0 1px #909090, inset 0 1px 3px rgba(0, 0, 0, 0.2), 0px
		2px 2px rgba(0, 0, 0, 0.15);
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 6px 2.1em 7px 5px;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
	font-weight: normal;
	color: black;
	line-height: 1;
}

.ui-selectmenu-menu .ui-menu {
	margin: 2px 0px 0px -1px;
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 2px 2px 1px 0px rgba(150, 150, 150, 0.7);
	box-shadow: 2px 2px 1px 0px rgba(150, 150, 150, 0.7);
}

.ui-selectmenu-menu .ui-menu .ui-menu-item {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: black;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus {
	border: none;
	background: rgb(79, 167, 167);
	background: -moz-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(79,
		167, 167, 1)), color-stop(50%, rgba(45, 143, 143, 1)),
		color-stop(52%, rgba(19, 135, 135, 1)),
		color-stop(100%, rgba(8, 107, 107, 1)));
	background: -webkit-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: -o-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: -ms-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: linear-gradient(to bottom, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	color: white;
}

.ui-state-default .ui-icon {
	background-image: none;
}

.ui-selectmenu-button.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
	{
	background: url(../images/select.png) no-repeat;
}

/* Select menu style */

/* Autocomplete menu style */
.ui-menu .ui-menu-item {
	border: none;
	background: rgb(79, 167, 167);
	background: -moz-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(79,
		167, 167, 1)), color-stop(50%, rgba(45, 143, 143, 1)),
		color-stop(52%, rgba(19, 135, 135, 1)),
		color-stop(100%, rgba(8, 107, 107, 1)));
	background: -webkit-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: -o-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: -ms-linear-gradient(top, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	background: linear-gradient(to bottom, rgba(79, 167, 167, 1) 0%,
		rgba(45, 143, 143, 1) 50%, rgba(19, 135, 135, 1) 52%,
		rgba(8, 107, 107, 1) 100%);
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
		'Lucida Sans', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: normal;
}


/* Autocomplete menu style */