@CHARSET "UTF-8";

.ticket-editor-content-descriptor .select-menu {
	width: 150px;
}

.ticket-editor-content-descriptor textarea {
	width: 339px;
}

.ticket-editor-content-descriptor textarea:hover,
	.ticket-editor-content-descriptor textarea:focus {
	width: 339px;
}

#ticket-editor-input-title {
	width: 280px;
}

#ticket-editor-input-title:focus, #ticket-editor-input-title:hover {
	width: 255px;
}

.ticket-editor-comments-fieldset button {
	float: right;
	margin-top: 14px;
}

/* Comment list style */
.ticket-editor-comments-fieldset .list {
	list-style-type: none;
	padding: 0px;
}

.ticket-editor-comments-fieldset .list li>div {
	padding: 0px 10px;
}

.ticket-editor-comments-fieldset .list li>div .user {
	font-weight: bold;
	color: #138687;
}

.ticket-editor-comments-fieldset .list li>div .added {
	display: inline-block;
	float: right;
}
/* Comment list style */


ticket /* Datatable */
	/* Growl */         
.growl {
	color: #FFF;
	background-position: 10px center;
}

.growl.growl-default {
	background: #138687 url(../images/info.png) no-repeat 10px center;
}

.growl.growl-warning {
	background: #F39C12 url(../images/warning.png) no-repeat 10px center;
}

.growl.growl-error {
	background: #C0392B url(../images/error.png) no-repeat 10px center;
}

.growl .growl-title {
	font-size: 18px;
	line-height: 24px;
	margin-left: 40px;
}

.growl .growl-message {
	font-size: 14px;
	line-height: 18px;
	margin-left: 40px;
}